.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
}

.input-field {
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

.input-field input:focus {
    border-color: #3b99fc;
}

.btn {
    background-color: #3b99fc;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1e87dc;
}

p {
    margin-top: 20px;
    text-align: center;
}

p a {
    color: #3b99fc;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
