/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

#mainContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#profileContainer {
    flex: 0.7;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.media-container {
    flex: 0.3;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для профиля пользователя */
.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-data {
    margin-left: 20px;
}

/* Стили для списка постов */
#postsList {
    list-style-type: none;
    padding: 0;
}

#postsList li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.post-meta {
    margin-top: 10px;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#addPostBtn {
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addPostBtn:hover {
    background-color: #2d4373;
}

/* Дополнительные стили для загрузки изображений */
.media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-container img {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}

.post-image {
    width: 20%;
}

.title {
    font-weight: bold;
}

.title:visited {
    color: black;
}

.title:hover {
    color: burlywood;
}

.card-info {
    margin-top: 20px;
    margin-left: 20px;
}

.card-info form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.card-info label {
    display: block;
    margin-bottom: 5px;
}

.card-info input[type="text"],
.card-info input[type="date"] {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.card-info button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.card-info button[type="submit"]:hover {
    background-color: #0056b3;
}
