body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6; /* Цвет фона */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #ffffff; /* Цвет фона карточки */
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 40px;
    width: 400px;
}

.title {
    color: #333; /* Цвет текста */
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd; /* Цвет границы */
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

.input-field input:focus {
    border-color: #3b99fc; /* Цвет границы при фокусе */
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #999; /* Цвет текста */
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    top: 8px;
    font-size: 12px;
    color: #3b99fc; /* Цвет текста при фокусе */
}

.btn {
    background-color: #3b99fc; /* Цвет кнопки */
    color: #fff; /* Цвет текста кнопки */
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1e87dc; /* Цвет кнопки при наведении */
}

p {
    margin-top: 20px;
    text-align: center;
}

p a {
    color: #3b99fc; /* Цвет ссылки */
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
