{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/account/login.css' %}">
</head>

<body>
<div class="scene">
    <section class="card">

        {% if user.is_authenticated %}
            <p>You are already logged in.</p>

        {% else %}

            {% if errors %}
                <div class="alert alert-danger">
                    {% for error in errors %}
                        <a>{{ error }}</a>
                    {% endfor %}
                </div>
            {% endif %}

        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label> E-mail:
                <input type="email" name="email" placeholder="Killer228@gm.cm" required>
            </label>
            <label> Password:
                <input type="password" name="password" placeholder="mDe563i7KZ" required>
            </label>
            <button type="submit">Register</button>
            <br>
            <a href="{% url 'login' %}">Registration</a>
        </form>
    </section>
</div>

</body>

</html>