<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Social Network</title>
    <!-- Подключаем статические файлы -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main/styles.css' %}">
</head>
<body>
<header>
    <div class="logo-search">
        <div class="logo">My Social Network</div>
        <div class="search-bar">
            {#            TODO:Доделать поиск#}
            <label>
                {#                <form class="d-flex" role="search" method="GET" action="{% url 'search' username=required %}">#}
                {% csrf_token %}
                <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search"
                        name="username"
                        required
                        aria-label="Search"
                >
                <button class="btn btn-outline-success" type="submit">Search</button>
                {#                </form>#}

            </label>
        </div>
    </div>

    <div class="user-menu">
        {% if user.is_authenticated %}
            <div class="menu-item"><a href="{% url 'profile' username=user.username %}">Your Profile</a></div>
            <div class="menu-item">Notifications</div>
            <div class="menu-item">Messages</div>
            <div class="menu-item"><a href="{% url 'logout' %}">Logout</a></div>
        {% else %}
            <div class="menu-item"><a href="{% url 'registration' %}">Registration</a></div>
            <div class="menu-item"><a href="{% url 'login' %}">Login</a></div>
        {% endif %}
    </div>
</header>

<main class="main-container">
    <h1>Welcome to My Social Network</h1>
    <div class="post-form">
    </div>
    <section class="post-list">
        {% if not articles_with_likes is None %}
            <ul>
                {% for article_data in articles_with_likes %}
                    <li>
                        <a href="{% url 'article_page' author=article_data.author.id title=article_data.article.title %}">{{ article_data.article.title }}</a>
                        <p>{{ article_data.article.content }}</p>
                        {% if article_data.article.image %}
                            <img class="article-image" src="{{ article_data.article.image.url }}" alt="Article Image">
                        {% endif %}
                        <p>Likes: {{ article_data.likes_count }}</p>
                        <p>Dislikes: {{ article_data.dislikes_count }}</p>
                        <p>Comments: {{ article_data.comments }}</p>
                        <p>Created at: {{ article_data.article.created_at }}</p>
                        <p>Updated at: {{ article_data.article.updated_at }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
</main>

<footer>
    <p>&copy; 2024 My Social Network</p>
</footer>

<!-- Подключаем скрипты -->
<script src="{% static 'js/main/modal.js' %}"></script>
<script src="{% static 'js/main/search.js' %}"></script>
</body>
</html>
